:root {
  --color-primary:#04283A;
  --color-wordpress: #4A50AE;
  --color-blue: #37395B;
  --color-orange: #FF6043;
  /* ... */
}


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@layer utilities {
  .placeholder-shine {
    overflow: hidden;
  }

  .placeholder-shine::after {
    content: '';
    position: absolute;
    width: 50px;
    left: 50;
    top: -10px;
    bottom: -10px;
    background-color: white;
    opacity: 0.3;
    transform: rotate(20deg);
    animation-name: placeholderShine;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  @keyframes placeholderShine {
    0% { left: -100%; }
    50% { left: 100%; }
    100% { left: 100% }
  }
}